body {
  font: 16px/1.6 $baseFontFamily;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

@for $i from 1 to 6 {
  h#{$i} {font-size: 28px - $i;}
}

p {
  margin: 5px 0 5px;

  ::first-line {
    margin-left: 10px;
  }
}
