.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 150px;
  background: #333;
  color: #fff;

  .avatar {
    margin: 20px 0;
    text-align: center;

    img {
      background: #000;
      width: 80px;
      height: 80px;
      border-radius: 80px;
      border: 1px solid #111;
    }
  }

  .menu {
    .menu-item {
      padding: 10px 20px;

      a {
        color: #fff;
        text-decoration: none;
        display: block;
        height: 40px;
        line-height: 40px;
        text-transform: uppercase;

        i {
          position: relative;
          top: 2px;
          width: 20px;
          height: 20px;
          text-align: center;
          font-size: 20px;
        }
      }

      &.active {
        background: #000;
      }
      &:hover {
        background: #000;
      }
    }
  }
}

.content {
  margin-left: 150px;
  padding: 40px 30px;
  max-width: 600px;

  h2 {
    margin: 10px 0 20px;
    text-transform: capitalize;
  }

  ul {
    margin: 10px 30px;
    list-style: square;
  }
}


