// PAGE: Read
.content .reading-list {
  width: 660px;
  margin: 0;
  list-style: none;

  li {
    float: left;
    width: 150px;
    margin-top: 15px;
    margin-left: 20px;

    &.first {
      margin-left: 0;
    }

    img, a {
      display: block;
      font-size: 12px;
    }
    img {
      margin: 0 0 5px;
      width: 106px;
      height: 158px;
    }
    a {
      width: 150px;
      white-space: no-wrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-decoration: none;
      color: #06c;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}