
.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    text-align: center;

    img{
        position: absolute;
        display: inline-block;
        top: 30%;
        margin-left: -80px;
    }
}
